[submodule "Vapor"]
	path = Vapor
	url = https://github.com/GHF-Studios/Vapor
[submodule "Vapor-SDK"]
	path = Vapor-SDK
	url = https://github.com/GHF-Studios/Vapor-SDK
[submodule "Vapor-Launcher"]
	path = Vapor-Launcher
	url = https://github.com/GHF-Studios/Vapor-Launcher
[submodule "Vapor-Shell"]
	path = Vapor-Shell
	url = https://github.com/GHF-Studios/Vapor-Shell
[submodule "Vapor-Examples"]
	path = Vapor-Examples
	url = https://github.com/GHF-Studios/Vapor-Examples
[submodule "Vapor-Installer"]
	path = Vapor-Installer
	url = https://github.com/GHF-Studios/Vapor-Installer
[submodule "Vapor-Entrypoint"]
	path = Vapor-Entrypoint
	url = https://github.com/GHF-Studios/Vapor-Entrypoint
